/* nav styles */

.ct-nav{
    display: flex;
    justify-content: space-between;

}

/*Target main logo image*/
.ct-nav img{
 width: 25%;
 max-width:100%;
 margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top:20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;

}

ul#horizontal-list a:nth-last-child(1){
    border:2px solid blue;
    border-radius:11px;
    margin-right:0,2vw;
}

/* start hero header section*/

#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
}

/* start of middle section*/

#middle-text{
    text-align: center;
    padding: 13vh;
}

#middle-text h2{
    padding: 1.5vw;
}

/*start of features sections styles*/

#api-image,#graphql-image, #database-image{
    margin-bottom: 10vh;
}

#features-sections{
    margin:8vw;
}

/* community section styles*/

#drone-image{
    width: 50%;
    max-width:75%;
    margin-left: 3vw;
}

/* footer section styles */

.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width:100%;
    max-width:100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}